<%- include("./partials/header")   %>
<nav>
    <form action="/" method="GET"><button type="submit" style="text-decoration: none; background-color: transparent;color:white;outline:none;border:none;font-size:3rem""><i class="fas fa-home"></i></button></form>
    <!-- <a href= style="color:white;font-size:4rem"></a> -->
</nav>
    <div class='checkin_conatiner'>
        
        <div class="checkin_div2">
            <div class="checkin_form">
                <h1>CheckOut Form</h1>
                <% if(msg !=''){ %>
                    <p style="text-align: center;color: red"> <%= msg %> </p>
                <% } %>
                <form action="/checkout" method="POST">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-id-card"></i></span>
                        <input type="text" class="form-control" placeholder="Visitor Id" name="visitor_id" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                        <input type="text" class="form-control" name="username" placeholder="Name" style="width:20px" required>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                      </div>                    
                </form>
            </div>
        </div>

        <div class="checkin_div1">
            <img src="./images/login.svg">
        </div>
    </div>
<%- include("./partials/footer")   %>